* {
  padding: 0px;
  margin: 0px;
  font-family: "Nunito", sans-serif;
  outline: none;
}

/* VARIABLES */
body {
  background: #e93c36;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.nav {
  display: flex;
  position: fixed;
  width: 100%;
  flex-flow: row wrap;
  height: 10vh;
  margin: 0px auto;
  z-index: 3;
  background: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.068);
}
.nav #logo {
  display: flex;
  height: 60px !important;
  margin-left: 20px;
}
.nav .iconos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .iconos .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.nav .iconos .cart .badge {
  font-size: 10px;
  color: white;
  background: red;
  border-radius: 20px;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
}
.nav .iconos a {
  margin-right: 15px;
  text-decoration: none;
}

.card-boundle {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  margin: 0px auto;
  width: 80%;
  margin-top: 20px;
  z-index: 0;
}
.card-boundle .card {
  background: white;
  border-radius: 15px;
  /*         box-shadow: 0px 35px 30px rgba(90, 23, 23, 0.349);
   */
  width: 18vw;
  min-width: 230px;
}
.card-boundle .card img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.card-boundle .card h2 {
  color: grey;
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-boundle .card span {
  padding-left: 25px;
  color: grey;
  font-weight: 800;
  font-size: 15px;
}
.card-boundle .card hr {
  margin: 20px;
  border-style: none;
  border: 1px solid rgba(128, 128, 128, 0.171);
}
.card-boundle .card .shop-form {
  padding-left: 20px;
  padding-right: 20px;
}
.card-boundle .card select {
  width: 100%;
  border-style: none;
  border-bottom: 2px solid #dedede;
  border-top: 2px solid #dedede;
  color: gray;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  padding-left: 5px;
  outline: none;
}
.card-boundle .card button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #e93c36;
  border-style: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-weight: 800;
  transition: all 300ms;
  justify-content: flex-end;
}
.card-boundle .card button:hover {
  background: #5c1818;
}

#comprar {
  display: block;
  margin: 0px auto;
  width: 76%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #c2ce28;
  border-style: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-weight: 800;
  transition: all 300ms;
}

#comprar:hover {
  background: #196926;
}

.alert {
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
}

.alert-info {
  color: blue;
  background: wheat;
}

.alert-danger {
  margin: 0px auto;
  margin-top: 20px;
  width: 20%;
  color: red;
  text-align: center;
  background-color: #f59696;
}

.loader {
  color: #ffffff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load4 {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
.swiper-slide {
  height: 100vh !important;
  overflow: hidden;
}
.swiper-slide img {
  position: absolute !important;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}
.swiper-slide div {
  position: relative;
  top: 50%;
  z-index: 2;
}
.swiper-slide div h1 {
  color: white;
  font-weight: 900;
  text-align: center;
  font-size: 400%;
  line-height: 100%;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
}
.swiper-slide div button {
  display: block;
  margin: 0px auto;
  top: 50%;
  width: 120px;
  background: #e93c36;
  border-style: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-weight: 800;
  transition: all 300ms;
}
.swiper-slide div button:hover {
  background: #5c1818;
}

.pera {
  position: absolute;
  margin-top: 400px;
}

.mini {
  width: 200px;
}

/*# sourceMappingURL=index.css.map */
