* {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    outline: none;
    text-decoration: none;
    
  }



  /* VARIABLES */
  $rojo: #e93c36;
  $verde: #c2ce28;
  
  body {
    background: $rojo;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #root{
    
    height: 100%;
  }
  


  // NAV BAR

  .nav{

    display: flex;
    position: fixed;
    width: 100%;
    flex-flow: row wrap;
    height: 10vh;
    margin: 0px auto;
    z-index: 3;
    background: white ;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.068);
    height: 80px;


    #logo {
    
      display: flex;
      height: 60px  !important;
      margin-left: 20px;
      
    }

    .iconos{

      display: flex;
      justify-content: center;
      align-items: center;

      .cart{

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;

        .badge{
          font-size: 10px;
          color: white;
          background: red;
          border-radius: 20px;
          padding: 3px;
          padding-left: 7px;
          padding-right: 7px;
     
         

        }



      }
     

      a{
        margin-right: 20px;
        text-decoration: none;

        

      }

    }
 
}
  

  // TARJETERÃO

  .card-boundle{

    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    margin: 0px auto;
    width: 80%;
    margin-top: 20px;
    z-index: 0;

    .card{

       
        background: white;
        border-radius: 15px ;

        width: 18vw;
        min-width: 230px;
        

       
        img{
            
            width: 100%;
            border-radius: 15px 15px 0px 0px;

        }
      
        h2{

            color: grey;
            font-size: 20px;
            padding-left: 25px;
            padding-right: 25px;
            margin-top: 20px;
           
            margin-bottom: 20px;

        }

       

        hr{
            margin: 20px;
            border-style: none;
            border: 1px solid rgba(128, 128, 128, 0.171);
        }

        .shop-form{
            padding-left: 20px;
            padding-right: 20px;

            .pricing{
    
              font-weight: 800;
              font-size: 15px;
              color:$verde;
              padding-left: 5px;
              padding-right: 25px;
              margin-top: 20px;
    
   
  
  
          }
           

            select{
                width: 100%;
                border-style: none;
                border-bottom: 2px solid rgb(222, 222, 222);
                border-top: 2px solid rgb(222, 222, 222);
                color: gray;
                cursor: pointer;
                padding-top: 10px;
                padding-bottom: 10px;
               
                padding-left: 5px;
                outline: none;

            
            }
           
            

            button{
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                background: $rojo;
                border-style: none;
                cursor: pointer;
                padding: 10px;
                border-radius: 4px;
                color: white;
                font-weight: 800;
                transition: all 300ms;
                justify-content: flex-end;
             

            


    
        }

             button:hover{
                background: rgb(92, 24, 24);

        }

      }

      

    }
  
  }
  
  

  // COMPRAR

  #comprar{

      display: block;
     
      margin: 0px auto;
      width: 76%;
      margin-top: 20px;
      margin-bottom: 20px;
      background: $verde;
      border-style: none;
      cursor: pointer;
      padding: 10px;
      border-radius: 4px;
      color: white;
      font-weight: 800;
      transition: all 300ms;
  }

  #comprar:hover{
    background: rgb(25, 105, 38);

}


// ALERTAS

.alert{
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  border-radius: 5px;
  margin: 0px auto;
  margin-top: 110px;
  text-align: center;

  a{
    background-color: $rojo;
    color: $verde;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    transition: all 300ms;
  }
  a:hover{
    background-color: rgb(92, 24, 24);
  }


}

.alert-info{
  color: white;
  background-color: $verde;
  font-weight: 800;
  width: 60%;

}

.alert-danger{
  margin: 0px auto;
  margin-top: 20px;
  width: 20%;
  color: red;
  text-align: center;
  background-color: rgb(245, 150, 150);
}

// LOADER ANIMATION ///////////////////////////////////////////////////////////////////////////////////////////////
.loading{
  display: block !important;
}
.loader {
  color: #ffffff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

//SWIPER///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.swiper-slide{

  height: 100vh !important;
  overflow: hidden;
  
  
  
 img{
   
  position: absolute !important;
  min-width: 100%;
  min-height: 100%; 
  z-index: 1;
  
   
 }

 div{

  position: relative;
  top: 50%;
  z-index: 2;

  h1{
  
  
  color: white;
  font-weight:900;
  text-align: center;
  font-size: 400%;
 
  line-height: 100%;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
  }

  button{
  display: block;
  margin: 0px auto;
  top: 50%;
  width: 120px;
  background: $rojo;
  border-style: none;
  cursor: pointer;

  padding: 10px;
  border-radius: 4px;
  color: white;
  font-weight: 800;
  transition: all 300ms;
 
  }
  button:hover{
  background: rgb(92, 24, 24);

  }

}}


//////////// PRODUCTOS EN CARRITO //////////////////////////////////////////////////////////////////////////////////////////////////////

.cart-screen{
p{
  color: transparent;
}

.price{
  display: flex;
  flex-flow: column wrap;
 
  border-radius: 5px;
  margin: 0px auto;
  margin-top: 30px;
  text-align: center;
  color: white;
  font-weight: 800;

  .button{
    
    
  
    width: 200px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: $verde;
    border-style: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-weight: 800;
    transition: all 300ms;
    justify-content: flex-end;
    

  }

  .button:hover{

    background: rgba(16, 87, 37, 0.767);

  }

  .button[disabled]{
    background: rgb(150, 150, 150);
  }

}


}

.cards-cart{
  
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  margin: 0px auto;
  width: 90%;
  margin-top: 80px;
  z-index: 0;
}


.card-cart{

  background: white;
  border-radius: 15px ;
  width: 20vw;
  min-width: 280px;




  .div-img{

    height: 100px;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;

  img{
    
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    margin-top: -50px;
  }

  }

  
h2{

  color: grey;
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
 

  

}


.shop-form{
  padding-left: 20px;
  padding-right: 20px;
  

  select{
      width: 100%;
      border-style: none;
      border-bottom: 2px solid rgb(222, 222, 222);
      border-top: 2px solid rgb(222, 222, 222);
      color: gray;
      cursor: pointer;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 20px;
      padding-left: 5px;
      outline: none;

  
  }
 
  
  button{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: $rojo;
    border-style: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-weight: 800;
    transition: all 300ms;
    justify-content: flex-end;
 



}

 button:hover{
    background: rgb(92, 24, 24);

}


}

.pricing{
  color:$verde;
  font-weight: 800;
  padding-left: 5px;
  padding-right: 25px;
  margin-top: 20px;
 
}


}

//////////// LOGIN SCREEN//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.login-screen{

  h5{
    color: transparent;
    margin-bottom: 100px;
  }

  .form{

    margin: 0px auto;
    display: flex;
    flex-flow: column wrap;
    background-color: $verde;
    width: fit-content;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
 
  

    h2{

     color: white;
    
    }

    label{
      color: white;
      text-align: left;
      margin-top: 15px;
      margin-bottom: 3px;
    }

    input{
      margin: 0px auto;
      outline: none;
      border-style: none;
      padding: 10px;
      border-radius: 4px;
      width: 90%;
      
    }

    
  .button{
    
    
  
    width: 200px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: $rojo;
    border-style: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-weight: 800;
    transition: all 300ms;
    justify-content: flex-end;
    

  }

  .button:hover{

    background: rgba(16, 87, 37, 0.767);

  }

    p{
      color: white;
    }

    .link{
      text-decoration: none;
      color: white;
      font-weight: 800;
      transition: 300ms;
    }
    .link:hover{
      color: $rojo;
    }
  
  
  }





}


// DROPDOWN ///////////////////////////////////@at-root

.dropdown{
  display: inline-block;
  position: relative;
  
  
  .name{

    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: rgb(146, 146, 146);
    font-weight: 800;
  }

}

.dropdown-content{
  position: absolute;
  display: none;
 

  right: 0;
  min-width: 20px;
  padding: 1rem;
  z-index: 3;
  background-color: $verde;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
  a{
    text-decoration: none;
    color: white;
    font-weight: 800;
  }
  
}

.dropdown:hover .dropdown-content{
  display: block;


}

.dropdown-content:hover a{

  color: $rojo;
}

.dropdown:hover .name{

  color: $verde;

}


// CHECK OUT STEPS /////////////////////////////////

.checkout-steps{

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
 


}


.checkout-steps > div{
  border-top: 3px white solid;
  color: white;

  padding: 20px;
  padding-left: 8% ;
  padding-right: 8%;
}

.checkout-steps > div.active{
  border-top-color: $verde;
  color: $verde;
  font-weight: 800;
  
}


//////////// SHIPPING SCREEN//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.shipping-screen{


  h5{
    color: transparent;
    margin-bottom: 100px;
  }

  
  .form{

    margin: 0px auto;
    display: flex;
    flex-flow: column wrap;
    background-color: $verde;
    width: fit-content;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
 
  

    h2{

     color: white;
    
    }

    label{
      color: white;
      text-align: left;
      margin-top: 15px;
      margin-bottom: 3px;
    }

    input{
      margin: 0px auto;
      outline: none;
      border-style: none;
      padding: 10px;
      border-radius: 4px;
      width: 90%;
      
    }

    .button{
    
    
  
      width: 200px;
      margin: 0px auto;
      margin-top: 20px;

      background: $rojo;
      border-style: none;
      cursor: pointer;
      padding: 10px;
      border-radius: 4px;
      color: white;
      font-weight: 800;
      transition: all 300ms;
      justify-content: flex-end;
      
  
    }
  
    .button:hover{
  
      background: rgb(92, 24, 24);
  
    }

  }

}


//////////// PAYMENT SCREEN//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.payment-screen{


  h5{
    color: transparent;
    margin-bottom: 100px;
  }

  
  .form{

    margin: 0px auto;
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    width: fit-content;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
 
    img{
      width: 80%;
      margin: 0px auto;
    }

    h2{

     color: white;
    
    }

    label{
      color: white;
      text-align: left;
      margin-top: 15px;
      margin-bottom: 3px;
    }

    input{
      margin: 0px auto;
      outline: none;
      border-style: none;
      padding: 10px;
      border-radius: 4px;
      width: 90%;
      
    }

    .button{
    
    
  
      width: 200px;
      margin: 0px auto;
      margin-top: 20px;

      background: $rojo;
      border-style: none;
      cursor: pointer;
      padding: 10px;
      border-radius: 4px;
      color: white;
      font-weight: 800;
      transition: all 300ms;
      justify-content: flex-end;
      
  
    }
  
    .button:hover{
  
      background: rgb(92, 24, 24);
  
    }

  }

}


//////////// PLACE ORDER SCREEN//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.placeorder-screen{


  h5{
    color: transparent;
    margin-bottom: 100px;
  }

  
.cards-cart1{
  
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  justify-content: center;
  margin: 0px auto;
  width: 76%;
  margin-top: 30px;
  z-index: 0;
  color: grey;

 


    .card-cart1{

      border-radius: 10px;
      background: white;
      list-style: none;
  
      h2{
    
        color: grey;
        font-size: 20px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 20px;
       
      
      }
  
      p{
        padding-left: 25px;
        padding-bottom: 20px;
      }
     
  
    
      .div-img{
    
        height: 100px;
        overflow: hidden;
  
      img{
        
        width: 100%;
  
        margin-top: -50px;
      }
    
      }
    
    
    }
  
    .card-cart2{

      border-radius: 10px;
      background: white;
      list-style: none;
      
          .titulo{
        
            color: grey;
            font-size: 20px;
            padding-left: 25px;
            margin-top: 20px;
  
          }
  
          .generation{
            display: flex;
            flex-flow: row wrap;
            margin-top: 20px;
            margin-bottom: 20px;
           
              .generation1{
                display: flex;
                flex-flow: row wrap;
                padding-left: 25px;
                margin-right: 20px;
                gap: 20px;
                align-items: center;
       
  
  
                    h3{
                      color: grey;
                      font-size: 15px;
                      
                    }
                
                    p{
                     
                    }
                  
                    .div-img{
                      width: 100px;
                      overflow: hidden;
                     
                    img{  
                      width: 100%;
                      border-radius: 10px;
                
                    }
                  
                    }
  
              }
            }
  
  
    
    }
  
 

  .card-cart3{

    border-radius: 10px;
    background: white;
    list-style: none;
    display: flex;
    flex-flow: column wrap;

    h2{
  
      color: grey;
      font-size: 20px;
      padding-left: 25px;
      padding-right: 25px;
      margin-top: 20px;
     
    
    }

    p{
      padding-left: 25px;

    }
   

  
    .div-img{
  
      height: 100px;
      overflow: hidden;

    img{
      
      width: 100%;

      margin-top: -50px;
    }
  
    }
  
    button{
      width: 100%;
      margin: 0px auto;
      margin-bottom: 20px;
      background: $verde;
      border-style: none;
      cursor: pointer;
      padding: 10px;
      border-radius: 4px;
      color: white;
      font-weight: 800;
      transition: all 300ms;
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 20px;
     
      width: auto;
   
  
  }
  
   button:hover{
    background: rgba(16, 87, 37, 0.767);
  
  }
  
  }

  }
  
 




}
